@model MacAuth.Models.LoginRequest

@{
    ViewData["Title"] = "Enter Code";
}

<form asp-action="Index">
    <div class="col-sm-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Connect your Mac</h3>
            </div>
            <div class="panel-body">
                <p>Enter the code displayed on your Mac</p>
                <p>
                    <label asp-for="user_code" class="control-label"></label>
                    <input asp-for="user_code" class="form-control" autocomplete="off" />
                    <span asp-validation-for="user_code" class="text-danger"></span>
                </p>
                <div class="text-right">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
